/*@import url(https://fonts.googleapis.com/css?family=Roboto:400,700,100italic|Roboto+Mono:400,100italic,700);*/

.title {
    font-size: 3em;
    color: #024656;
    text-align: center;
    /*font-family: 'Roboto';*/
    padding-top: 8%;
    padding-bottom: 6%;
}

.logo{
    height: 3em;
    float: left;
}

.date{
    float:right;
    padding-top: 1em;
    padding-right: 1em;
}

.profileLink {
    border: 1px solid blue;
    padding: 1em;
    text-decoration: none;
    background-color: blue;
    color: white;
    border-radius: 5px;
}

.btnCenter a:hover{
    color: black;
    background-color: yellow;
}

.btnCenter {
    text-align: center;
}


/*
#logo {
    text-align: left;
    padding-bottom: 1%;
}

#logo img {
    width: 300px;
}

.leftimage{
    float:left;
}
.centerspace{
    float:left;
}
.rightimage{
    float:right;
}*/

#grad1 {
    height: 3em;
    background: -webkit-linear-gradient(left, red, orange, yellow, green, blue, indigo, violet);
}
